.procedureListContainer {
  padding: 40px 20px;
  text-align: left;
  background-color: white;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #0044cc;
  position: relative;
  font-weight: bold;
  width: 100%;
  padding: 0 5%;
}

.sectionTitle .icon {
  width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
  height: auto;
  margin-right: 15px; /* Espaçamento entre o ícone e o título */
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px 0;
  width: 90%;
  margin: 0 5%;
}

@media (max-width: 850px) {
  .steps {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .sectionTitle{
    padding: 0 10%;
  }
}

@media (max-width: 850px){
  .sectionTitle .icon {
    display: none;
  }
}